<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kinoprogramm: Neue Vorstellung anlegen</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/kino-stil.css">
</head>
<body>

    <h1>Kinoprogramm: Neue Vorstellung anlegen</h1>


    <form th:action="@{/app/v1/speichern}" method="post" th:object="${vorstellung}">

        <div>
            <label for="titelVorstellung">Titel (z.B. Name Film):</label>
            <input type="text" id="titelVorstellung" th:field="*{titel}" />
            <span th:if="${#fields.hasErrors('titel')}" th:errors="*{titel}" class="fehler"></span>
        </div>
        <br>

        <div>
            <label for="datum">Datum:</label>
            <input type="date" id="datum" th:field="*{datum}" />
            <span th:if="${#fields.hasErrors('datum')}" th:errors="*{datum}" class="fehler"></span>
        </div>
        <br>
        
        <div>
            <label for="uhrzeit">Uhrzeit:</label>
            <input type="time" id="uhrzeit" th:field="*{uhrzeit}" step="300" />
            <span th:if="${#fields.hasErrors('uhrzeit')}" th:errors="*{uhrzeit}" class="fehler"></span>
        </div>

        <div th:if="${#fields.hasErrors()}" class="error">
            <p><strong>Bitte oben angezeigte Fehler korrigieren.</strong></p>
        </div>
        <br>
        
        <button type="submit">Speichern</button>
        <button type="reset" >Zurücksetzen</button>

    </form>

</body>