<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kinoprogramm: Übersicht</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/kino-stil.css">
</head>
<body>

    <h1>Kinoprogramm: Übersicht</h1>

    <p>Nur zukünftige Termine</p>
    <br>

    <div th:each="tagMitProgramm : ${liste}">

        <h3>
            <a th:href="'/app/v1/details/' + ${tagMitProgramm.getDatum()}" 
               th:text="${tagMitProgramm.getDatumFormatiert()}">
            </a>
        </h3>

    </div>    

</body>